<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.davidmiguel.gobees"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>

    <application
        android:name=".GoBeesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".apiaries.ApiariesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
            android:name=".addeditapiary.AddEditApiaryActivity"
            android:parentActivityName=".apiaries.ApiariesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".apiary.ApiaryActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".apiaries.ApiariesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".addedithive.AddEditHiveActivity"
            android:parentActivityName=".apiary.ApiaryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".hive.HiveActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".apiary.ApiaryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".recording.RecordingActivity"
            android:parentActivityName=".hive.HiveActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".monitoring.MonitoringActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".hive.HiveActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".apiaries.ApiariesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".about.AboutActivity"
            android:parentActivityName=".apiaries.ApiariesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".help.HelpActivity"
            android:parentActivityName=".apiaries.ApiariesActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".monitoring.MonitoringService"/>
    </application>
</manifest>