<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.davidmiguel.gobees"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".GoBeesApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.davidmiguel.gobees.apiaries.ApiariesActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".addeditapiary.AddEditApiaryActivity" />
        <activity
            android:name=".hives.HivesActivity"
            android:parentActivityName=".apiaries.ApiariesActivity" />
        <activity android:name=".addedithive.AddEditHiveActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>